LaravelBackend/node_modules
LaravelBackend/public/hot
LaravelBackend/public/storage
LaravelBackend/storage/*.key
LaravelBackend/vendor
LaravelBackend/.env
LaravelBackend/.env.backup
LaravelBackend/.phpunit.result.cache
LaravelBackend/Homestead.json
LaravelBackend/Homestead.yaml
LaravelBackend/npm-debug.log
LaravelBackend/yarn-error.log


AngularFrontend/node_modules
AngularFrontend/bower_components
AngularFrontend/dist
AngularFrontend/src/app/endPointConstant.js