<div class="w-100 d-inline-block pt-5 pb-2">
    <div class="footer-container w-100">
        <div class="footer-nav-wrapper">
            <p><span>Cannis Flower & Hamper</span></p>
            <a href="#"><p class="mt-2">&nbspHome</p></a>
            <a href="#"><p>&nbspShop</p></a>
            <a href="#"><p>&nbspAbout Us</p></a>
            <div class="social-icon-wrapper">
                <a href="#"><img src="../../assets/image/instagram.svg" alt=""></a>
                <a href="#"><img src="../../assets/image/facebook.svg" alt=""></a>
                <a href="#"><img src="../../assets/image/whatsapp.svg" alt=""></a>
            </div>
        </div>
        <div class="subcribe-container">
            <p><span>Stay Updated</span></p>
            <p class="mt-2">Be the first to know our lastest<br> promotion and products</p>
            <div class="subcribe-wrapper mt-4">
                <input class="subcribe-email" type="text"><img class="subcribe-email-go" src="../../assets/image/subcribe-go.svg" alt="">
            </div>
        </div>
    </div>
</div>