<div class="row hot-deals-header">
    <h1>Hot Deals</h1>
    <p class="outline-button-hover">More Info +</p>
</div>
<div class="hot-deal-panel d-flex justify-content-between">
    <img id="hot-deal-left-arrow" class="cursor-pointer" ng-click="previousPage()" src="../../assets/image/left-arrow.svg" alt="">
    <div class="hot-deal-leaf-wrapper">
        <div class="hot-deal-leaf-img"></div>
    </div>
    <img id="hot-deal-right-arrow" class="cursor-pointer" ng-click="nextPage()" src="../../assets/image/right-arrow.svg" alt="">
</div>

<div class="row">
    <div class="carousel">
        <div class="custom-item" ng-repeat="item in data">
            <div ng-if="!!item.name" class="m-0 p-0">
                <img ng-src="{{backendIp+item.imageUrl}}" alt="">
                <p>
                    {{item.name}}<br>
                    <span class="price" ng-if="!!item.price">RM {{item.price}}</span>
                </p>
                <p class="" ng-if="!!item.prevPrice">
                    <del>RM {{item.prevPrice}}</del> &nbsp&nbsp-{{calcDiscount(item.prevPrice, item.price)}} %
                </p>
                <div class="item-hover">
                    <p>Shop Now</p>
                </div>  
            </div>
        </div>
    </div>
</div>
